page-login {
 
}

.login-header{
    background-image: url('assets/bg_menu.png'); 

}


.input-username{
    background:transparent; 
    border:none;
    color:mintcream;

}

.input-password{
    background:transparent;
    border:none;
    color: mintcream;
}

input::-webkit-input-placeholder {
//color: mintcream !important;
font-family: 'Lato', sans-serif !important;
//text-decoration-line: underline; 
}


.image-center{

    max-width: 300px;
    margin: auto;
    padding-left: 50px;
    padding-bottom: 20px;
    
}

.submit-btn{
    color: blue;
}

.input-login-signup {
    //margin: 11px 8px 11px 0 !important;
    padding: 0px 35px;
    border-bottom: groove 1px white !important;
    color: white;
}

.input-login-signup:focus, .focus-outline :focus{
    outline: none !important;
}

.input-user {
    background: url('../assets/icon_user.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 10px;
    
}
.input-password {
    background: url('../assets/icon_password.png') !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: 5px 7px !important;

}

.btn-round {
    border-radius: 50px;
    background: none;
    //font-size: 16px;
    font-size: 20px;
    font: initial;
    //font-family: 'Lato', sans-serif !important;
   padding: 13px 0px;
}

.btn-round:focus{
    background: white !important;
    background-color: white !important;
    color: blue;
}
.login-btn {
    background: white;
    color: blue;
}

.signup-btn{
    border: solid 1px #ffffff;
    color: white;
}

.logo-row{
    text-align: center;
}

.textShopping{
    font: caption; 
    color: mintcream;

}

.shopping-icon{
    font-size:30px; 
    vertical-align:middle; 
    color:mintcream;

}