page-profile {

}


.input-profile{
    color: black;
}

.profileText{
    background-color: white !important;
    box-shadow: 1px 3px 1px 1px rgba(128, 128, 128, 0.14) !important;
    background: #ffffff !important;
}

.profile-btn{
    border: solid 1px #488aff;
    color: #488aff;
    
}