page-forget-password {

}

.image-center{

    max-width: 300px;
    margin: auto;
    padding-left: 50px;
    padding-bottom: 20px;
    
}
.text-center{

    padding-left: 15px;
    //padding-top: 100px;
  

}

.input-emailPassword{
    background: transparent;
    border: none;
    color: mintcream;
}

.custom-btn-color {
    color: blue;  
}
.email-icon{
    //padding-right: 50px;   
    //padding-top: 0px;
}

.input-email{

    //padding-left: 30px;
    
}